<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1><%= message %></h1>
    <p>Welcome to templating using EJS</p>
    <% if(dayOfWeek === 3) { %> 
      <p>It's Wednesday my dudes</p>
    <% } else {%>
      <p>Wait for Wednesday, today is day <%= today %></p>
      <script>console.log('Log 1 from client, time: ' + Date.now())</script>
      <% console.log('Log 2 from server, time: ' + Date.now()) %>

    <% }%>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>